.en{
    color:rgba(255, 99, 71, 0.925);
}
.es{
    color: rgb(79, 119, 238);
}
.check{
    position: relative;
    width: 44px;
}
.check:before{
    content: '';
    position: absolute;
    width: 44px;
    height: 20px;
    background: rgb(214, 211, 211);
    border-radius: 20px;
}
.check:after{
    content: '';
    position:absolute;
    width:20px;
    height: 20px;
    background: #fff;
    border-radius:20px;
    transition:0.40s;
    border:2px solid rgb(235, 235, 235);
    box-sizing: border-box;    
}
.check:checked:after{
    left:25px;
    border:2px solid #00a1ff;
}
.check:checked:before{
    background:#00a1ff;
}