

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.text-gradient {
    background: -webkit-linear-gradient(45deg, #09009f, #fea2a2 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card3-wrapper {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90vw;
    margin: 5vh 5vw;
    min-height: 90vh;
}

.card3 {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.card3-content {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card3-content__title {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: -0.25px;
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;

}

.card3-content__text {
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    margin-bottom: 3rem;
}

.card3-content__btn-wrapper {
    width: 100%;
    max-width: 30rem;
    display: flex;
}

.card3-content__btn {
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 1.1em;
    font-weight: 600;
    color: #ffffff;
    background: #000d2e;
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    cursor: pointer;
    transition: 0.3s;
}

.card3-content__btn:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hvr-float-shadow {
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.card-content__btn-transparent {
    background: transparent;
    color: #000d2e;
    border: 2px solid #000d2e;
    border-width: 2px;
    margin-right: 0.75rem;
}

@media(max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media(max-width: 991px) {
    body {
        font-size: 13px;
    }
}

@media(max-width: 768px) {
    body {
        font-size: 13px;
    }

    .card-content {
        width: 100%;
    }
}

@media(max-width: 576px) {
    body {
        font-size: 12px;
    }
    .card-content__btn-wrapper{
        flex-direction: column;
    }
    .card-content__btn {
        width: 100%;
        margin: 0 0 1.5em 0;
    }    
}

@media(max-width: 400px) {
    body {
        font-size: 12px;
    }
}







#card4 {
 display: flex;
align-self: center;
width: fit-content;
background: linear-gradient(120deg, #f0f0f0 20%, #f9f9f9 30%); 
border-radius: 22px;
padding: 20px 40px;
margin: 0 auto;
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.06);
transition: 0.3s;
}

#card4:hover {
box-shadow: none;
cursor: pointer;
transform: translateY(2px)
}

#card4:hover > #profile-photo {
opacity: 1
}

#profile-photo {
height: 90px;
width: 90px;
border-radius: 100px;
align-self: center;
box-shadow: 0 6px 30px rgba(199, 199, 199, 0.5);
opacity: 0.8;
transition: 0.3s;
}

.text-wrapper {
font-family: 'Poppins', sans-serif;
line-height: 0;
align-self: center;
margin-left: 20px;
}

.text-wrapper p {
margin: 0;
}

.contact-wrapper a {
display: block;
text-decoration: none;
}

#name {
font-size: 20px;
color: #5f5f5f;
margin-bottom: 20px;
}

#role {
font-size: 12px;
color: #9B9B9B;
margin-bottom: 22px;
}

#phone,
#website {
font-size: 12px;
color: #615F5F;
margin-top: 15px;
transition: 0.3s;
}

#phone:hover,
#website:hover {
color: #9B9B9B;
}

/* --------------------------------- */
/* --- buy me a coffee section --- */
/* ----------------------------- */

.buy-me-a-coffee {
display: flex;
flex-direction: row;
justify-items: center;
align-items: center;
position: absolute;
bottom: 20px;
right: 40px;
}

.buy-me-a-coffee p {
font-size: 11px;
font-family: 'Poppins', sans-serif;
line-height: 14px;
color: #9B9B9B;
padding-right: 6px;
}

.buy-me-a-coffee button {
border: none;
border-radius: 100px;
padding: 12px 22px;
font-size: 11px;
font-family: 'Poppins', sans-serif;
background-color: #efefef;
color: #5f5f5f;
transition: 0.3s;
}

.buy-me-a-coffee button:hover {
cursor: pointer;
background-color: #e5e5e5;
transform: scale(0.97)
}

.heart-wrapper {
display: flex;
justify-content: center;
align-items: center;
  padding-right: 10px;
}

#heart {
width: 16px;
height: 16px;
padding: 0 4px;
animation: pulse 2s ease-in 1s infinite alternate;
}
.container4{
width: 100%;
}
@keyframes pulse {
0% {transform: scale(1)}
100% {transform: scale(1.5)}
}


/*Footer*/


.footer2 {
width: 100%;
bottom: 0;
left: 0;
}

.footer2 .heading {
max-width: 1010px;
width: 90%;
text-transform: uppercase;
margin: 0 auto;
margin-bottom: 3rem;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer2 .content {
display: flex;
justify-content: space-evenly;
margin: 1.5rem;
}

.footer2 .content p {
margin-bottom: 1.3rem;
color: rgba(0, 0, 0, 0.829);
}

.footer2 .content a {
text-decoration: none;
color: rgb(0, 0, 0, 0.829);
}

.footer2 .content a:hover {
border-bottom: 1px solid rgba(0, 0, 0, 0.829);
}

.footer2 .content h4 {
margin-bottom: 1.3rem;
font-size: 19px;
}

.footer2 {
text-align: center;
margin-bottom: 2rem;
}

.footer2 hr {
margin: 2rem 0;
}

@media (max-width: 767px) {
.footer2 .content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.footer2 {
  position: unset;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.footer2 .content,
.footer2 {
  font-size: 14px;
}
}

@media (orientation: landscape) and (max-height: 500px) {
.footer2 {
  position: unset;
}
}


    

  .component-pricing-list {
    text-align:center;
  }
  .component-pricing-list header {
    margin-bottom:80px;
  }
  .component-pricing-list header h3{
    font-size:26px;
    color:#fff;
    font-weight:bold;
    margin-bottom:15px;
  }
  .component-pricing-list header p {
    font-size:18px;
    color:#fff;
    line-height:22px;
    max-width:460px;
    margin:0 auto;
  }
  .pricing-list {
     display:flex;
    margin:0 -10px;
     
  }
  .pricing-list li {
    width:265px;
    margin:0 10px;
  } 
  .pricing-list li a {
    display:flex;
    flex-direction:column;
    width:100%;
    height:267px;
    background:#171727;
    border-radius:20px;
    padding:35px;
    color:#fff;
    text-align:left;
    transition:300ms background;
    position:relative;
  }
  .pricing-list li.actv a,
  .pricing-list li a:hover {
    background:#242486;
  }
  
  .title {
    font-size:22px;
    font-weight:bold;
    margin-bottom:20px;
  }
  .domain-title {
    margin-bottom:35px;
  }
  .price {
    font-weight:bold;
    font-size:26px;
    line-height:32px;
  }
  .price span {
    display:block;
    font-size:16px;
    font-weight:normal;
    
  }
  .btn {
    font-size:16px;
    margin-top:auto;
    display:flex;
  }
  .btn i {
    color:#fff;
    margin-left:10px;
    transition:300ms margin-left;
  }
  .action {
      margin-top: 64px;
      text-align: center;
  }
  .action a {
    display: inline-block;
        padding: 18px 45px;
        border-radius: 10px;
        font-size: 16px;
        color: #8080B9;
        border: 2px solid #1F1F35;
        transition: 300ms all;
  }
  .action a:hover {
    border-color: #8080B9;
    color: #fff;
  
  }
  .best-price {
    position:absolute;
    top:-15px;
    height:30px;
    background-color:#a0e0b2;
    border-radius:30px;
    color:#171727;
    font-size:16px;
    padding:0 18px;
    line-height:30px;
    left:50%;
    transform:translate(-50%);
  }
